#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 35s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marqueeNew {
  display: flex;
  width: max-content;
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    height: 7px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f4f0f8;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ec008c;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #ec008c;
    cursor: pointer;
  }
}
